In [90]:
import pandas as pd

# Página 1

In [91]:
#dataset por municipio del área metropolotana de Monterrey
denuncias_apodaca = pd.read_csv("Denuncias-segun-bien-afectado-en-ApodacaClic-en-el-grafico-para-seleccionar.csv")
denuncias_garcia = pd.read_csv("Denuncias-segun-bien-afectado-en-GarciaClic-en-el-grafico-para-seleccionar.csv")
denuncias_escobedo = pd.read_csv("Denuncias-segun-bien-afectado-en-General-EscobedoClic-en-el-grafico-para-seleccionar.csv")
denuncias_guadalupe = pd.read_csv("Denuncias-segun-bien-afectado-en-GuadalupeClic-en-el-grafico-para-seleccionar.csv")
denuncias_jaurez = pd.read_csv("Denuncias-segun-bien-afectado-en-JuarezClic-en-el-grafico-para-seleccionar.csv")
denuncias_monterrey = pd.read_csv("Denuncias-segun-bien-afectado-en-MonterreyClic-en-el-grafico-para-seleccionar.csv")
denuncias_san_nico = pd.read_csv("Denuncias-segun-bien-afectado-en-San-Nicolas-de-los-GarzaClic-en-el-grafico-para-seleccionar.csv")
denuncias_santa= pd.read_csv("Denuncias-segun-bien-afectado-en-Santa-CatarinaClic-en-el-grafico-para-seleccionar.csv")
denuncias_santiago = pd.read_csv("Denuncias-segun-bien-afectado-en-SantiagoClic-en-el-grafico-para-seleccionar.csv")

In [92]:
def add_city_function(df,city):
    df['City']=city
add_city_function(denuncias_apodaca,'Apodaca')
add_city_function(denuncias_garcia,'García')
add_city_function(denuncias_escobedo,'Escobedo')
add_city_function(denuncias_guadalupe,'Guadalupe')
add_city_function(denuncias_jaurez,'Juarez')
add_city_function(denuncias_monterrey,'Monterrey')
add_city_function(denuncias_san_nico,'San Nicolás de los Garza')
add_city_function(denuncias_santa,'Santa Catarina')
add_city_function(denuncias_santiago,'Santiago')

In [93]:
denuncias_apodaca

,Affected Legal Good ID,Affected Legal Good,Month ID,Month,Value,Value_,Time,date,City
0,1,Patrimonio,201501,2015-01,189,189,1422770400000,Ene-2015,Apodaca
1,1,Patrimonio,201502,2015-02,238,238,1425189600000,Feb-2015,Apodaca
2,1,Patrimonio,201503,2015-03,203,203,1427868000000,Mar-2015,Apodaca
3,1,Patrimonio,201504,2015-04,196,196,1430456400000,Abr-2015,Apodaca
4,1,Patrimonio,201505,2015-05,212,212,1433134800000,May-2015,Apodaca
...,...,...,...,...,...,...,...,...,...
667,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202208,2022-08,230,230,1662008400000,Ago-2022,Apodaca
668,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202209,2022-09,226,226,1664600400000,Sep-2022,Apodaca
669,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202210,2022-10,231,231,1667282400000,Oct-2022,Apodaca
670,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202211,2022-11,178,178,1669874400000,Nov-2022,Apodaca
671,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202212,2022-12,173,173,1672552800000,Dic-2022,Apodaca

In [94]:
denuncias = pd.concat([denuncias_apodaca, denuncias_garcia, denuncias_escobedo, denuncias_guadalupe, denuncias_jaurez, denuncias_monterrey, denuncias_san_nico, denuncias_santa, denuncias_santiago])
denuncias = denuncias.drop(columns=['Affected Legal Good ID', 'Month ID', 'Value', 'Value_', 'Time', 'date'])
denuncias

                                   Affected Legal Good    Month      City
0                                           Patrimonio  2015-01   Apodaca
1                                           Patrimonio  2015-02   Apodaca
2                                           Patrimonio  2015-03   Apodaca
3                                           Patrimonio  2015-04   Apodaca
4                                           Patrimonio  2015-05   Apodaca
..                                                 ...      ...       ...
667  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-08  Santiago
668  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-09  Santiago
669  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-10  Santiago
670  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-11  Santiago
671  Otros Bienes Jurídicos Afectados (Del Fuero Co...  2022-12  Santiago

[6048 rows x 3 columns]

# Página 2

Módulos de seguridad pública

In [95]:
#dataset por módulo de seguridad pública
modulos_apodaca = pd.read_csv("modulos-de-atencion-de-seguridad-publica-apodaca.csv")
modulos_garcia = pd.read_csv("modulos-de-atencion-de-seguridad-publica-garcia.csv")
modulos_escobedo = pd.read_csv("modulos-de-atencion-de-seguridad-publica-general-escobedo.csv")
modulos_guadalupe = pd.read_csv("modulos-de-atencion-de-seguridad-publica-guadalupe.csv")
modulos_juarez = pd.read_csv("modulos-de-atencion-de-seguridad-publica-juarez.csv")
modulos_monterrey = pd.read_csv("modulos-de-atencion-de-seguridad-publica-monterrey.csv")
modulos_san_nico = pd.read_csv("modulos-de-atencion-de-seguridad-publica-san-nicolas-de-los-garza.csv")
modulos_santa = pd.read_csv("modulos-de-atencion-de-seguridad-publica-santa-catarina.csv")
modulos_santiago = pd.read_csv("modulos-de-atencion-de-seguridad-publica-santiago.csv")

In [96]:
add_city_function(modulos_apodaca,'Apodaca')
add_city_function(modulos_garcia,'García')
add_city_function(modulos_escobedo,'Escobedo')
add_city_function(modulos_guadalupe,'Guadalupe')
add_city_function(modulos_juarez,'Juarez')
add_city_function(modulos_monterrey,'Monterrey')
add_city_function(modulos_san_nico,'San Nicolás de los Garza')
add_city_function(modulos_santa,'Santa Catarina')
add_city_function(modulos_santiago,'Santiago')

In [97]:
modulos_apodaca

,Numero_de_identificacion,Ejercicio,Mes,Nombre_del_modulo,Tipo_de_asentamiento,Nombre_de_asentamiento,Tipo_de_vialidad,Nombre_de_la_vialidad,Numero_exterior,Numero_interior,Codigo_postal,Dias,Horario_de_apertura,Horario_de_cierre,Servicios,Numero_de_servicios,Telefono_de_contacto,Georreferencia,Nota,City
0,CT05,2021,Abril-Junio,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,No Dato,66600.0,"Lunes, Martes, Miercoles, Jueves, Viernes, Sab...",24 Hrs.,24 Hrs.,Lamadas de Emergencia,34745.0,911,"25.781950296363476, -100.18043402056054",NaN,Apodaca
1,CT05,2021,Abril-Junio,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,No Dato,66600.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Licencia de Manejo (Mayores de 18 Años),3.0,8117722050 ext. 2105,"25.781950296363476, -100.18043402056054",sabados de 09:00 hrs. a 13:00 hrs.,Apodaca
2,CT05,2021,Abril-Junio,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,No Dato,66600.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Permiso Para Estacionamiento Exclusivo,0.0,8117722050 ext. 2105,"25.781950296363476, -100.18043402056054",sabados de 09:00 hrs. a 13:00 hrs.,Apodaca
3,CT05,2021,Abril-Junio,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,No Dato,66602.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Quejas y Denuncias de la SSPV,5.0,8117722050 ext. 2108,"25.781950296363476, -100.18043402056054",sabados de 09:00 hrs. a 13:00 hrs.,Apodaca
4,CT05,2021,Julio-Septiembre,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,Sin Numero,66600.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Licencia de Manejo (Jóvenes de 16 a 18 Años),3.0,8117722050 ext. 2105,"25.781950296363476, -100.18043402056054",Sabados de 09:00 hrs. a 13:00 hrs.,Apodaca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,CT05,2022,Julio-Septiembre,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,Sin Numero,66602.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Quejas y Denuncias de la SSPV,3.0,8117722050 ext. 2126,"25.781950296363476, -100.18043402056054",Sabados de 09:00 hrs. a 13:00 hrs.,Apodaca
88,CT05,2022,Octubre-Diciembre,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,Sin Numero,66600.0,"Lunes, Martes, Miercoles, Jueves, Viernes, Sab...",24 Hrs.,24 Hrs.,Lamadas de Emergencia,32027.0,911,"25.781950296363476, -100.18043402056054",NaN,Apodaca
89,CT05,2022,Octubre-Diciembre,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,Sin Numero,66600.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Licencia de Manejo (Mayores de 18 Años),3.0,8117722050 ext. 2105,"25.781950296363476, -100.18043402056054",Sabados de 09:00 hrs. a 13:00 hrs.,Apodaca
90,CT05,2022,Octubre-Diciembre,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,Sin Numero,66602.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Quejas y Denuncias de la SSPV,3.0,8117722050 ext. 2126,"25.781950296363476, -100.18043402056054",Sabados de 09:00 hrs. a 13:00 hrs.,Apodaca
91,CT05,2023,Enero,Centro Apodaca,Colonia,Moderno Apodaca,Calle,Garza García,Sin Numero,Sin Numero,66600.0,"Lunes, Martes, Miercoles Jueves, Viernes y Sab...",08:00 hrs.,17:00 hrs.,Permiso para circular por zona restrigida,3.0,8117722050 ext. 2105,"25.781950296363476, -100.18043402056054",Sabados de 09:00 hrs. a 13:00 hrs.,Apodaca

In [98]:
modulos = pd.concat([modulos_apodaca, modulos_garcia, modulos_escobedo, modulos_guadalupe, modulos_juarez, modulos_monterrey, modulos_san_nico, modulos_santa, modulos_santiago])
modulos = modulos[["Nombre_del_modulo", "City"]]
modulos

   Nombre_del_modulo      City
0     Centro Apodaca   Apodaca
1     Centro Apodaca   Apodaca
2     Centro Apodaca   Apodaca
3     Centro Apodaca   Apodaca
4     Centro Apodaca   Apodaca
..               ...       ...
4        Edificio C4  Santiago
5        Edificio C4  Santiago
6        Edificio C4  Santiago
7        Edificio C4  Santiago
8        Edificio C4  Santiago

[666 rows x 2 columns]

Trabajadores registrados en el seguro del IMSS per capita

In [99]:
poblacion = pd.read_excel('Poblacion_Censos_Municipios_NL.xlsx', sheet_name='Hoja2')
poblacion = poblacion[poblacion["Periodo"] == 2020]
poblacion = poblacion[["Apodaca", "García", "General Escobedo", "Guadalupe", "Juárez", "Monterrey", "San Nicolás de los Garza", "Santa Catarina", "Santiago"]]
poblacion

,Apodaca,García,General Escobedo,Guadalupe,Juárez,Monterrey,San Nicolás de los Garza,Santa Catarina,Santiago
6,656464,397205,481213,643143,471523,1142994,412199,306322,46784

In [100]:
poblacion = poblacion.melt(var_name="Ciudad", value_name="poblacion")
poblacion

                     Ciudad  poblacion
0                   Apodaca     656464
1                    García     397205
2          General Escobedo     481213
3                 Guadalupe     643143
4                    Juárez     471523
5                 Monterrey    1142994
6  San Nicolás de los Garza     412199
7            Santa Catarina     306322
8                  Santiago      46784

In [101]:
trabajadores_imss = pd.read_excel('TrabajadoresIMSS_Municipio_NL.xlsx', sheet_name='Hoja1')
trabajadores_imss = trabajadores_imss[["Periodo", "Apodaca", "García", "Gral. Escobedo", "Guadalupe", "Juarez", "Monterrey", "San Nicolas", "Santa Catarina", "Santiago"]]
trabajadores_imss

,Periodo,Apodaca,García,Gral. Escobedo,Guadalupe,Juarez,Monterrey,San Nicolas,Santa Catarina,Santiago
0,2017/01,174896.0,31939.0,58062.0,136972.0,15084.0,598409.0,143101.0,68772.0,6866.0
1,2017/02,177158.0,32278.0,58797.0,138390.0,15416.0,601944.0,145238.0,69904.0,6991.0
2,2017/03,177393.0,32556.0,59462.0,138788.0,15533.0,604810.0,146151.0,70425.0,7048.0
3,2017/04,177652.0,32626.0,59769.0,138846.0,15471.0,606268.0,144763.0,70247.0,6993.0
4,2017/05,179394.0,32934.0,60253.0,139253.0,15424.0,607593.0,145334.0,71290.0,7338.0
...,...,...,...,...,...,...,...,...,...,...
71,2022/12,246117.0,49737.0,88494.0,152926.0,18886.0,602898.0,159560.0,99148.0,9541.0
72,2023/01,250112.0,51109.0,89734.0,155474.0,18967.0,604841.0,160819.0,100434.0,9661.0
73,2023/02,253286.0,52081.0,90561.0,157453.0,19111.0,608718.0,162236.0,100495.0,9711.0
74,2023/03,255679.0,52916.0,91081.0,158992.0,19015.0,612111.0,162826.0,101473.0,9387.0
75,2023/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
trabajadores_imss = pd.melt(trabajadores_imss, id_vars=["Periodo"], 
                  var_name="Ciudad", value_name="Trabajadores")
trabajadores_imss

     Periodo    Ciudad  Trabajadores
0    2017/01   Apodaca      174896.0
1    2017/02   Apodaca      177158.0
2    2017/03   Apodaca      177393.0
3    2017/04   Apodaca      177652.0
4    2017/05   Apodaca      179394.0
..       ...       ...           ...
679  2022/12  Santiago        9541.0
680  2023/01  Santiago        9661.0
681  2023/02  Santiago        9711.0
682  2023/03  Santiago        9387.0
683  2023/04  Santiago           NaN

[684 rows x 3 columns]

In [104]:
trabajadores_per_capita = pd.merge(trabajadores_imss, poblacion, on='Ciudad', how='left')

trabajadores_per_capita['Trabajadores per capita'] = trabajadores_per_capita['Trabajadores'] / trabajadores_per_capita['poblacion']
trabajadores_per_capita

     Periodo    Ciudad  Trabajadores  poblacion  Trabajadores per capita
0    2017/01   Apodaca      174896.0   656464.0                 0.266421
1    2017/02   Apodaca      177158.0   656464.0                 0.269867
2    2017/03   Apodaca      177393.0   656464.0                 0.270225
3    2017/04   Apodaca      177652.0   656464.0                 0.270620
4    2017/05   Apodaca      179394.0   656464.0                 0.273273
..       ...       ...           ...        ...                      ...
679  2022/12  Santiago        9541.0    46784.0                 0.203937
680  2023/01  Santiago        9661.0    46784.0                 0.206502
681  2023/02  Santiago        9711.0    46784.0                 0.207571
682  2023/03  Santiago        9387.0    46784.0                 0.200646
683  2023/04  Santiago           NaN    46784.0                      NaN

[684 rows x 5 columns]