In [1]:
import pandas as pd

# Página 1

In [2]:
#dataset por municipio del área metropolotana de Monterrey
denuncias_apodaca = pd.read_csv("Denuncias-segun-bien-afectado-en-ApodacaClic-en-el-grafico-para-seleccionar.csv")
denuncias_garcia = pd.read_csv("Denuncias-segun-bien-afectado-en-GarciaClic-en-el-grafico-para-seleccionar.csv")
denuncias_escobedo = pd.read_csv("Denuncias-segun-bien-afectado-en-General-EscobedoClic-en-el-grafico-para-seleccionar.csv")
denuncias_guadalupe = pd.read_csv("Denuncias-segun-bien-afectado-en-GuadalupeClic-en-el-grafico-para-seleccionar.csv")
denuncias_jaurez = pd.read_csv("Denuncias-segun-bien-afectado-en-JuarezClic-en-el-grafico-para-seleccionar.csv")
denuncias_monterrey = pd.read_csv("Denuncias-segun-bien-afectado-en-MonterreyClic-en-el-grafico-para-seleccionar.csv")
denuncias_san_nico = pd.read_csv("Denuncias-segun-bien-afectado-en-San-Nicolas-de-los-GarzaClic-en-el-grafico-para-seleccionar.csv")
denuncias_santa= pd.read_csv("Denuncias-segun-bien-afectado-en-Santa-CatarinaClic-en-el-grafico-para-seleccionar.csv")
denuncias_santiago = pd.read_csv("Denuncias-segun-bien-afectado-en-SantiagoClic-en-el-grafico-para-seleccionar.csv")

In [3]:
def add_city_function(df,city):
    df['City']=city
add_city_function(denuncias_apodaca,'Apodaca')
add_city_function(denuncias_garcia,'García')
add_city_function(denuncias_escobedo,'Escobedo')
add_city_function(denuncias_guadalupe,'Guadalupe')
add_city_function(denuncias_jaurez,'Juarez')
add_city_function(denuncias_monterrey,'Monterrey')
add_city_function(denuncias_san_nico,'San Nicolás de los Garza')
add_city_function(denuncias_santa,'Santa Catarina')
add_city_function(denuncias_santiago,'Santiago')

In [4]:
denuncias_apodaca

,Affected Legal Good ID,Affected Legal Good,Month ID,Month,Value,Value_,Time,date,City
0,1,Patrimonio,201501,2015-01,189,189,1422770400000,Ene-2015,Apodaca
1,1,Patrimonio,201502,2015-02,238,238,1425189600000,Feb-2015,Apodaca
2,1,Patrimonio,201503,2015-03,203,203,1427868000000,Mar-2015,Apodaca
3,1,Patrimonio,201504,2015-04,196,196,1430456400000,Abr-2015,Apodaca
4,1,Patrimonio,201505,2015-05,212,212,1433134800000,May-2015,Apodaca
...,...,...,...,...,...,...,...,...,...
667,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202208,2022-08,230,230,1662008400000,Ago-2022,Apodaca
668,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202209,2022-09,226,226,1664600400000,Sep-2022,Apodaca
669,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202210,2022-10,231,231,1667282400000,Oct-2022,Apodaca
670,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202211,2022-11,178,178,1669874400000,Nov-2022,Apodaca
671,7,Otros Bienes Jurídicos Afectados (Del Fuero Co...,202212,2022-12,173,173,1672552800000,Dic-2022,Apodaca

In [5]:
denuncias = pd.concat([denuncias_apodaca, denuncias_garcia, denuncias_escobedo, denuncias_guadalupe, denuncias_jaurez, denuncias_monterrey, denuncias_san_nico, denuncias_santa, denuncias_santiago])
denuncias = denuncias.drop(columns=['Affected Legal Good ID', 'Month ID', 'Value_', 'Time', 'date'])
denuncias

,Affected Legal Good,Month,Value,City
0,Patrimonio,2015-01,189,Apodaca
1,Patrimonio,2015-02,238,Apodaca
2,Patrimonio,2015-03,203,Apodaca
3,Patrimonio,2015-04,196,Apodaca
4,Patrimonio,2015-05,212,Apodaca
...,...,...,...,...
667,Otros Bienes Jurídicos Afectados (Del Fuero Co...,2022-08,55,Santiago
668,Otros Bienes Jurídicos Afectados (Del Fuero Co...,2022-09,34,Santiago
669,Otros Bienes Jurídicos Afectados (Del Fuero Co...,2022-10,17,Santiago
670,Otros Bienes Jurídicos Afectados (Del Fuero Co...,2022-11,15,Santiago
671,Otros Bienes Jurídicos Afectados (Del Fuero Co...,2022-12,15,Santiago

In [6]:
denuncias.to_csv('Page1.csv', index = False)

# Página 2

Módulos de seguridad pública

In [7]:
#dataset por módulo de seguridad pública
modulos_apodaca = pd.read_csv("modulos-de-atencion-de-seguridad-publica-apodaca.csv")
modulos_garcia = pd.read_csv("modulos-de-atencion-de-seguridad-publica-garcia.csv")
modulos_escobedo = pd.read_csv("modulos-de-atencion-de-seguridad-publica-general-escobedo.csv")
modulos_guadalupe = pd.read_csv("modulos-de-atencion-de-seguridad-publica-guadalupe.csv")
modulos_juarez = pd.read_csv("modulos-de-atencion-de-seguridad-publica-juarez.csv")
modulos_monterrey = pd.read_csv("modulos-de-atencion-de-seguridad-publica-monterrey.csv")
modulos_san_nico = pd.read_csv("modulos-de-atencion-de-seguridad-publica-san-nicolas-de-los-garza.csv")
modulos_santa = pd.read_csv("modulos-de-atencion-de-seguridad-publica-santa-catarina.csv")
modulos_santiago = pd.read_csv("modulos-de-atencion-de-seguridad-publica-santiago.csv")

In [8]:
add_city_function(modulos_apodaca,'Apodaca')
add_city_function(modulos_garcia,'García')
add_city_function(modulos_escobedo,'Escobedo')
add_city_function(modulos_guadalupe,'Guadalupe')
add_city_function(modulos_juarez,'Juarez')
add_city_function(modulos_monterrey,'Monterrey')
add_city_function(modulos_san_nico,'San Nicolás de los Garza')
add_city_function(modulos_santa,'Santa Catarina')
add_city_function(modulos_santiago,'Santiago')

In [9]:
modulos = pd.concat([modulos_apodaca, modulos_garcia, modulos_escobedo, modulos_guadalupe, modulos_juarez, modulos_monterrey, modulos_san_nico, modulos_santa, modulos_santiago])
modulos.rename(columns = {'Ejercicio':' fecha', 'City':'lugar', 'Mes':' Mes', 'Georreferencia':' Georreferencia'}, inplace = True)
modulos = modulos[[" fecha", " Mes","Nombre_del_modulo", "lugar", " Georreferencia"]]
modulos['evento']='Módulo de seguridad pública'
modulos['isstatic']='No'
modulos

,fecha,Mes,Nombre_del_modulo,lugar,Georreferencia,evento,isstatic
0,2021,Abril-Junio,Centro Apodaca,Apodaca,"25.781950296363476, -100.18043402056054",Módulo de seguridad pública,No
1,2021,Abril-Junio,Centro Apodaca,Apodaca,"25.781950296363476, -100.18043402056054",Módulo de seguridad pública,No
2,2021,Abril-Junio,Centro Apodaca,Apodaca,"25.781950296363476, -100.18043402056054",Módulo de seguridad pública,No
3,2021,Abril-Junio,Centro Apodaca,Apodaca,"25.781950296363476, -100.18043402056054",Módulo de seguridad pública,No
4,2021,Julio-Septiembre,Centro Apodaca,Apodaca,"25.781950296363476, -100.18043402056054",Módulo de seguridad pública,No
...,...,...,...,...,...,...,...
4,2021,JULIO-SEPTIEMBRE,Edificio C4,Santiago,"25.433010495035848, -100.15571503121338",Módulo de seguridad pública,No
5,2022,ABRIL-JUNIO,Edificio C4,Santiago,"25.433010495035848, -100.15571503121338",Módulo de seguridad pública,No
6,2022,JULIO-SEPTIEMBRE,Edificio C4,Santiago,"25.433010495035848, -100.15571503121338",Módulo de seguridad pública,No
7,2022,OCTUBRE-DICIEMBRE,Edificio C4,Santiago,"25.433010495035848, -100.15571503121338",Módulo de seguridad pública,No
8,2023,ENERO-MARZO,Edificio C4,Santiago,"25.433010495035848, -100.15571503121338",Módulo de seguridad pública,No

Trabajadores registrados en el seguro del IMSS per capita

In [10]:
poblacion = pd.read_excel('Poblacion_Censos_Municipios_NL.xlsx', sheet_name='Hoja2')
poblacion = poblacion[poblacion["Periodo"] == 2020]
poblacion = poblacion[["Apodaca", "García", "General Escobedo", "Guadalupe", "Juárez", "Monterrey", "San Nicolás de los Garza", "Santa Catarina", "Santiago"]]

In [11]:
poblacion = poblacion.melt(var_name="lugar", value_name="poblacion")
poblacion

                      lugar  poblacion
0                   Apodaca     656464
1                    García     397205
2          General Escobedo     481213
3                 Guadalupe     643143
4                    Juárez     471523
5                 Monterrey    1142994
6  San Nicolás de los Garza     412199
7            Santa Catarina     306322
8                  Santiago      46784

In [12]:
trabajadores_imss = pd.read_excel('TrabajadoresIMSS_Municipio_NL.xlsx', sheet_name='Hoja1')
trabajadores_imss = trabajadores_imss[["Periodo", "Apodaca", "García", "Gral. Escobedo", "Guadalupe", "Juarez", "Monterrey", "San Nicolas", "Santa Catarina", "Santiago"]]
trabajadores_imss

,Periodo,Apodaca,García,Gral. Escobedo,Guadalupe,Juarez,Monterrey,San Nicolas,Santa Catarina,Santiago
0,2017/01,174896.0,31939.0,58062.0,136972.0,15084.0,598409.0,143101.0,68772.0,6866.0
1,2017/02,177158.0,32278.0,58797.0,138390.0,15416.0,601944.0,145238.0,69904.0,6991.0
2,2017/03,177393.0,32556.0,59462.0,138788.0,15533.0,604810.0,146151.0,70425.0,7048.0
3,2017/04,177652.0,32626.0,59769.0,138846.0,15471.0,606268.0,144763.0,70247.0,6993.0
4,2017/05,179394.0,32934.0,60253.0,139253.0,15424.0,607593.0,145334.0,71290.0,7338.0
...,...,...,...,...,...,...,...,...,...,...
71,2022/12,246117.0,49737.0,88494.0,152926.0,18886.0,602898.0,159560.0,99148.0,9541.0
72,2023/01,250112.0,51109.0,89734.0,155474.0,18967.0,604841.0,160819.0,100434.0,9661.0
73,2023/02,253286.0,52081.0,90561.0,157453.0,19111.0,608718.0,162236.0,100495.0,9711.0
74,2023/03,255679.0,52916.0,91081.0,158992.0,19015.0,612111.0,162826.0,101473.0,9387.0
75,2023/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
trabajadores_imss = pd.melt(trabajadores_imss, id_vars=["Periodo"], 
                  var_name="lugar", value_name="Trabajadores")
trabajadores_imss

     Periodo     lugar  Trabajadores
0    2017/01   Apodaca      174896.0
1    2017/02   Apodaca      177158.0
2    2017/03   Apodaca      177393.0
3    2017/04   Apodaca      177652.0
4    2017/05   Apodaca      179394.0
..       ...       ...           ...
679  2022/12  Santiago        9541.0
680  2023/01  Santiago        9661.0
681  2023/02  Santiago        9711.0
682  2023/03  Santiago        9387.0
683  2023/04  Santiago           NaN

[684 rows x 3 columns]

In [14]:
trabajadores_per_capita = pd.merge(trabajadores_imss, poblacion, on='lugar', how='left')

trabajadores_per_capita.rename(columns = {'Periodo':' fecha'}, inplace = True)

trabajadores_per_capita['Trabajadores per capita'] = trabajadores_per_capita['Trabajadores'] / trabajadores_per_capita['poblacion']
trabajadores_per_capita[' fecha'] = (trabajadores_per_capita[' fecha'].str.replace('/', '-'))
trabajadores_per_capita['evento']='Trabajadores per cápita'
trabajadores_per_capita['isstatic']='Yes'
trabajadores_per_capita

,fecha,lugar,Trabajadores,poblacion,Trabajadores per capita,evento,isstatic
0,2017-01,Apodaca,174896.0,656464.0,0.266421,Trabajadores per cápita,Yes
1,2017-02,Apodaca,177158.0,656464.0,0.269867,Trabajadores per cápita,Yes
2,2017-03,Apodaca,177393.0,656464.0,0.270225,Trabajadores per cápita,Yes
3,2017-04,Apodaca,177652.0,656464.0,0.270620,Trabajadores per cápita,Yes
4,2017-05,Apodaca,179394.0,656464.0,0.273273,Trabajadores per cápita,Yes
...,...,...,...,...,...,...,...
679,2022-12,Santiago,9541.0,46784.0,0.203937,Trabajadores per cápita,Yes
680,2023-01,Santiago,9661.0,46784.0,0.206502,Trabajadores per cápita,Yes
681,2023-02,Santiago,9711.0,46784.0,0.207571,Trabajadores per cápita,Yes
682,2023-03,Santiago,9387.0,46784.0,0.200646,Trabajadores per cápita,Yes
683,2023-04,Santiago,NaN,46784.0,NaN,Trabajadores per cápita,Yes

Parques Públicos

In [15]:
parques_apodaca = pd.read_csv("parques-publicos-apodaca.csv")
parques_garcia = pd.read_csv("parques-publicos-garcia.csv")
parques_escobedo = pd.read_csv("parques-publicos-general-escobedo.csv")
parques_guadalupe = pd.read_csv("parques-publicos-guadalupe.csv")
parques_juarez = pd.read_csv("parques-publicos-juarez.csv")
parques_monterrey = pd.read_csv("parques-publicos-monterrey.csv")
parques_san_nico = pd.read_csv("parques-publicos-san-nicolas-de-los-garza.csv")
parques_santa = pd.read_csv("parques-publicos-santa-catarina.csv")
parques_santiago = pd.read_csv("parques-publicos-santiago.csv")

In [16]:
add_city_function(parques_apodaca,'Apodaca')
add_city_function(parques_garcia,'García')
add_city_function(parques_escobedo,'Escobedo')
add_city_function(parques_guadalupe,'Guadalupe')
add_city_function(parques_juarez,'Juarez')
add_city_function(parques_monterrey,'Monterrey')
add_city_function(parques_san_nico,'San Nicolás de los Garza')
add_city_function(parques_santa,'Santa Catarina')
add_city_function(parques_santiago,'Santiago')

In [17]:
parques = pd.concat([parques_apodaca, parques_garcia, parques_escobedo, parques_guadalupe, parques_juarez, parques_monterrey, parques_san_nico, parques_santa, parques_santiago])

parques.rename(columns = {'Ejercicio':' fecha', 'City':'lugar'}, inplace = True)

parques = parques[[" fecha", " Mes", " Nombre_de_asentamiento", "lugar", " Georreferencia"]]

parques['evento']='Parques públicos'
parques['isstatic']='No'

parques

,fecha,Mes,Nombre_de_asentamiento,lugar,Georreferencia,evento,isstatic
0,2021,Enero-Marzo,"Centro, Parque San Francisco",Apodaca,"25.778712936477863, -100.19800943212758",Parques públicos,No
1,2021,Enero-Marzo,"Centro, Parque Fundadores",Apodaca,"25.773572498923084, -100.21744377425522",Parques públicos,No
2,2021,Enero-Marzo,"Las Margaritas, Parque Hda. Las Margaritas",Apodaca,"25.714371993258382, -100.15251396841741",Parques públicos,No
3,2021,Enero-Marzo,"Prados de la Cieneguita, Parque Cieneguita",Apodaca,"25.784375443394634, -100.25403496321327",Parques públicos,No
4,2021,Abril-Junio,"Las Margaritas, Parque Hda. Las Margaritas",Apodaca,"25.714371993258382, -100.15251396841741",Parques públicos,No
...,...,...,...,...,...,...,...
157,2023,ENERO-MARZO,PLAZA GILBERTO SALAZAR,Santiago,"25.378052698855196, -100.11421806337307",Parques públicos,No
158,2023,ENERO-MARZO,PLAZA MARIANO ESCOBEDO,Santiago,"25.410462777881836, -100.13869018481829",Parques públicos,No
159,2023,ENERO-MARZO,PLAZA COL.SAN JUAN,Santiago,"25.45054300708926, -100.16460361484128",Parques públicos,No
160,2023,ENERO-MARZO,PLAZA COLIMA,Santiago,"25.361242859399105, -100.10280350069655",Parques públicos,No
161,2023,ENERO-MARZO,PLAZA 4 CAMINOS,Santiago,"25.477574216379796, -100.17736814759026",Parques públicos,No

Índices de estadísticas de accidentes viales

In [18]:
accidentes_apodaca = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-apodaca.csv")
accidentes_garcia = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-garcia.csv")
accidentes_escobedo = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-general-escobedo.csv")
accidentes_guadalupe = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-guadalupe.csv")
accidentes_juarez = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-juarez.csv")
accidentes_monterrey = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-monterrey.csv")
accidentes_san_nico = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-san-nicolas-de-los-garza.csv")
accidentes_santa = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-santa-catarina.csv")
accidentes_santiago = pd.read_csv("indices-de-estadisticas-de-accidentes-viales-santiago.csv")

In [19]:
add_city_function(accidentes_apodaca,'Apodaca')
add_city_function(accidentes_garcia,'García')
add_city_function(accidentes_escobedo,'Escobedo')
add_city_function(accidentes_guadalupe,'Guadalupe')
add_city_function(accidentes_juarez,'Juarez')
add_city_function(accidentes_monterrey,'Monterrey')
add_city_function(accidentes_san_nico,'San Nicolás de los Garza')
add_city_function(accidentes_santa,'Santa Catarina')
add_city_function(accidentes_santiago,'Santiago')

In [20]:
accidentes = pd.concat([accidentes_apodaca, accidentes_garcia, accidentes_escobedo, accidentes_guadalupe, accidentes_juarez, accidentes_monterrey, accidentes_san_nico, accidentes_santa, accidentes_santiago])

accidentes.rename(columns = {' Fecha':' fecha', 'City':'lugar'}, inplace = True)

accidentes = accidentes[[' fecha', " Tipo_de_accidente", " Nombre_de_asentamiento", "lugar", " Georreferencia"]]

accidentes['evento']='Índices de estadísticas de accidentes viales'

accidentes['isstatic']='No'

accidentes[' fecha'] = (accidentes[' fecha'].str.replace('01-11-03', '2023-03'))
accidentes[' fecha'] = (accidentes[' fecha'].str.replace('1900-01-21', '2021-08'))
accidentes[' fecha'] = (accidentes[' fecha'].str.replace('1900-01-21', '2021-09'))
accidentes[' fecha'] = (accidentes[' fecha'].str.replace('1900-02-24', '2021-02'))
accidentes[' fecha'] = (accidentes[' fecha'].str.replace('1900-07-26', '2021-07'))
accidentes[' fecha'] = (accidentes[' fecha'].str.replace('1900-01-13', '2022-07'))

accidentes[' fecha'] = (accidentes[' fecha'].str.replace(r'\b(\d{4}-\d{2}-\d{2})\b', '', regex=True))

Zonas de recolección de basura

In [21]:
basura_apodaca = pd.read_csv("zonas-de-recoleccion-de-basura-apodaca.csv")
basura_garcia = pd.read_csv("zonas-de-recoleccion-de-basura-garcia.csv")
basura_escobedo = pd.read_csv("zonas-de-recoleccion-de-basura-general-escobedo.csv")
basura_guadalupe = pd.read_csv("zonas-de-recoleccion-de-basura-guadalupe.csv")
basura_juarez = pd.read_csv("zonas-de-recoleccion-de-basura-juarez.csv")
basura_monterrey = pd.read_csv("zonas-de-recoleccion-de-basura-monterrey.csv")
basura_san_nico = pd.read_csv("zonas-de-recoleccion-de-basura-san-nicolas-de-los-garza.csv")
basura_santa = pd.read_csv("zonas-de-recoleccion-de-basura-santa-catarina.csv")
basura_santiago = pd.read_csv("zonas-de-recoleccion-de-basura-base.csv")

In [22]:
add_city_function(basura_apodaca,'Apodaca')
add_city_function(basura_garcia,'García')
add_city_function(basura_escobedo,'Escobedo')
add_city_function(basura_guadalupe,'Guadalupe')
add_city_function(basura_juarez,'Juarez')
add_city_function(basura_monterrey,'Monterrey')
add_city_function(basura_san_nico,'San Nicolás de los Garza')
add_city_function(basura_santa,'Santa Catarina')
add_city_function(basura_santiago,'Santiago')

In [23]:
basura = pd.concat([basura_apodaca, basura_garcia, basura_escobedo, basura_guadalupe, basura_juarez, basura_monterrey, basura_san_nico, basura_santa, basura_santiago])

basura.rename(columns = {' Ejercicio':' fecha', 'City':'lugar', ' Perimetro_de_zona':' Georreferencia'}, inplace = True)

basura = basura[[" fecha", " Mes", " Nombres_de_asentamientos", "lugar", " Georreferencia"]]

basura.dropna(subset=[' fecha'], inplace=True)

basura[' fecha'] = basura[' fecha'].astype(int)

basura['evento']='Zonas de recolección de basura'

basura['isstatic']='No'

basura

,fecha,Mes,Nombres_de_asentamientos,lugar,Georreferencia,evento,isstatic
0,2021,Abril-Junio,Residencial Apodaca,Apodaca,"25.792631343744446, -100.18317457978247",Zonas de recolección de basura,No
1,2021,Abril-Junio,Triana,Apodaca,"25.800999199578794, -100.17384962516195",Zonas de recolección de basura,No
2,2021,Abril-Junio,Nova Apodaca,Apodaca,"25.790288967996467, -100.18325928829428",Zonas de recolección de basura,No
3,2021,Abril-Junio,Privada Capellania,Apodaca,"25.786718282271583, -100.20335140470476",Zonas de recolección de basura,No
4,2021,Abril-Junio,Prados De Santa Rosa,Apodaca,"25.805876522212017, -100.22816122489147",Zonas de recolección de basura,No
...,...,...,...,...,...,...,...
661,2023,ENERO-MARZO,"ALAMO, LOS FIERROS.",Santiago,"25.37964568527582, -100.12110044255473",Zonas de recolección de basura,No
662,2023,ENERO-MARZO,EL BARRIAL,Santiago,"25.470506605582532, -100.1847765576781",Zonas de recolección de basura,No
663,2023,ENERO-MARZO,"LOS FRANCISCANOS, QUERUBINES, EQUINOCCIO, RANC...",Santiago,"25.50507346622545, -100.1906112309097",Zonas de recolección de basura,No
664,2023,ENERO-MARZO,VILLA DE SANTIAGO,Santiago,"25.520603994744793, -100.20784957063111",Zonas de recolección de basura,No
665,2023,ENERO-MARZO,EL CERCADO,Santiago,"25.402197902959685, -100.13311445019198",Zonas de recolección de basura,No

In [24]:
result = pd.concat([modulos, poblacion, parques, accidentes, basura, trabajadores_per_capita])
result = result.replace({' Mes' : {'Abril-Junio': '(4-6)', 'Julio-Septiembre': '(7-9)', 'Enero-Marzo' : '(1-3)',
       'Octubre-Diciembre' : '(10-12)', 'Enero':'1', 'ENERO':'1', 'FEBRERO':'2', 'ABRIL':'4', 'JUNIO':'6',
       'JULIO':'7', 'SEPTIEMBRE':'9', 'OCTUBRE':'10', 'NOVIEMBRE':'11', 'DICIEMBRE':'12',
       'MARZO':'3', 'MAYO':'5', 'AGOSTO':'8', 'ENERO-MARZO':'(1-3)', 'Abril - Junio':'(4-6)',
       'Enero - Marzo':'(1-3)', 'Octubre - Diciembre':'(10-12)', 'Julio - Septiembre':'(7-9)',
       'ABRIL-JUNIO':'(4-6)', 'OCTUBRE-DICIEMBRE':'10-12', 'JULIO-SEPTIEMBRE':'(7-9)',
       'Enero Febrero y Marzo':'(1-3)', 'Noviembre':'11', 'Diciembre':'12', 'Mayo':'5', 'Julio':'7',
       'Agosto':'8', 'Septiembre':'9', 'Junio':'6', 'Marzo':'3', 'Octubre':'10', 'Abril':'4',
       'Seotiembre':'9', 'Febrero':'2', 'ENE-MARZ':'(1-3)', 'ENERO - MARZO':'(1-3)',
       'ABRIL - JUNIO':'(4-6)', 'JULIO - SEPTIEMBRE':'(7-9)', 'Octubre  - Diciembre':'(10-12)',
       'Enero   - Marzo':'(1-3)', 'Abril -Junio':'(4-6)', 'OCTUBRE- DICIEMBRE':'10-12'}})

result['lat'] = result[' Georreferencia'].str.split(',').str[0]
result['lon'] = result[' Georreferencia'].str.split(',').str[1]


result = result[[" fecha", "lugar", "evento", "lat", "lon", "isstatic", "poblacion"]]

result

,fecha,lugar,evento,lat,lon,isstatic,poblacion
0,2021,Apodaca,Módulo de seguridad pública,25.781950296363476,-100.18043402056054,No,NaN
1,2021,Apodaca,Módulo de seguridad pública,25.781950296363476,-100.18043402056054,No,NaN
2,2021,Apodaca,Módulo de seguridad pública,25.781950296363476,-100.18043402056054,No,NaN
3,2021,Apodaca,Módulo de seguridad pública,25.781950296363476,-100.18043402056054,No,NaN
4,2021,Apodaca,Módulo de seguridad pública,25.781950296363476,-100.18043402056054,No,NaN
...,...,...,...,...,...,...,...
679,2022-12,Santiago,Trabajadores per cápita,NaN,NaN,Yes,46784.0
680,2023-01,Santiago,Trabajadores per cápita,NaN,NaN,Yes,46784.0
681,2023-02,Santiago,Trabajadores per cápita,NaN,NaN,Yes,46784.0
682,2023-03,Santiago,Trabajadores per cápita,NaN,NaN,Yes,46784.0
683,2023-04,Santiago,Trabajadores per cápita,NaN,NaN,Yes,46784.0

In [25]:
result[' fecha'].unique()

array([2021, 2022, 2023, nan, '', '2023-03', '2021-02', '2021-07',
       '2021-08', '2022-07', 2020, 20021, '2017-01', '2017-02', '2017-03',
       '2017-04', '2017-05', '2017-06', '2017-07', '2017-08', '2017-09',
       '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03',
       '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09',
       '2018-10', '2018-11', '2018-12', '2019-01', '2019-02', '2019-03',
       '2019-04', '2019-05', '2019-06', '2019-07', '2019-08', '2019-09',
       '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03',
       '2020-04', '2020-05', '2020-06', '2020-07', '2020-08', '2020-09',
       '2020-10', '2020-11', '2020-12', '2021-01', '2021-03', '2021-04',
       '2021-05', '2021-06', '2021-09', '2021-10', '2021-11', '2021-12',
       '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06',
       '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01',
       '2023-02', '2023-04'], dtype=object)

In [26]:
result.to_csv('Page2.csv', index = False)